.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #FFFF00;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 3px 0 #FAD3E7;
  font-size: 8rem;
  color: #FF0032;
}

p {
  font-size: 2rem;
  color: #FF0032;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
